*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(46, 46, 46);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
    
}
.logo-photo{
    width: 70px;
   
}
.ankor-tag{
    color: white;
    text-decoration: none;
    display: flex;
}
.manus{
    display: flex;
   
}
.items{
    margin-right: 10px;
    padding-right: 10px;
}
#search{
    border-radius: 10px;
}
.banner-conteiner{
   background-image: url(./images/353439972_215804524720906_5066616695656912613_n.jpg), linear-gradient(45deg,#000,#797171);
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}