*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(0, 0, 0);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
    
}
.logo-photo{
    width: 70px;
   
}
.ankor-tag{
    color: white;
    text-decoration: none;
    display: flex;
}
.manus{
    display: flex;
   
}
.items{
    margin-right: 10px;
    padding-right: 10px;
}
#search{
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    float: right;
  
}
.banner-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(90deg,#111010,#837b7b);

    height: 100vh;
    color: white;
    background-size: cover;
    

}
.banner-img-icone-2{
    width: 400spx;
    
    
}
.banner-taitle{
    font-size: 50px;
}
.banner-descriptation{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
.expoler-btn{
    border: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.expoler-btn:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);

}
.men-text{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.men-text-h1{
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
}
.men-text-p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.men-text-btn{
    border: 2px solid white;
    padding: 10px;
    font-size: 18px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 15px;
   font-weight: bold;
   cursor: pointer;
}
.mens-collection{
    margin-left: 68px;
    font-size: 30px;
    font-weight: bold;
}
.men-img-conteniar{
    display: flex;
    justify-content: space-around;
    height: 520px;
    margin-top: 25px; 
}
.border{
    height: 100%;
    transition: 0.6s ease;
    cursor: pointer;
}
.border:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgb(68, 66, 66);
}
.more-btn{
    text-align: center;
    padding: 50px 0;

}
.more-btn-mens{
    padding: 10px 30px;
    background-image: linear-gradient(45deg, orange, red);
    color: white;
    border-radius: 8px;
    border: none;
    transition: 0.6s ease;
}
.more-btn-mens:hover{
    background-color: #180bcc;
    color: white;
    transform: scale(1.1);
}