*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: rgb(46, 46, 46);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
}
.logo-photo{
    width: 70px;
    margin-right: 1000px;
}
.ankor-tag{
    color: white;
    text-decoration: none;
    display: flex;
}
.manus{
    display: flex;
}
.items{
    margin-right: 10px;
    padding-right: 10px;
}